<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn DAX, SQL, and Pandas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/prism.css') }}">
    <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('dax') }}">DAX</a></li>
            <li><a href="{{ url_for('sql') }}">SQL</a></li>
            <li><a href="{{ url_for('pandas') }}">Pandas</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
