{% extends 'base.html' %}

{% block content %}
<h1>{{ query.title }}</h1>
<div class="code-comparison">
    <div class="code-block">
        <h2>SQL</h2>
        <pre><code class="language-sql">{{ query.sql }}</code></pre>
    </div>
    <div class="code-block">
        <h2>DAX</h2>
        <pre><code class="language-dax">{{ query.dax }}</code></pre>
    </div>
    <div class="code-block">
        <h2>Pandas</h2>
        <pre><code class="language-python">{{ query.pandas }}</code></pre>
    </div>
</div>

<div class="navigation">
    {% if prev_query %}
        <a href="{{ url_for('query', query=prev_query) }}" class="btn btn-primary">Previous</a>
    {% endif %}
    {% if next_query %}
        <a href="{{ url_for('query', query=next_query) }}" class="btn btn-primary">Next</a>
    {% endif %}
</div>
{% endblock %}
